<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kieran's Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Kieran's Blog</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">Home</a></li>
          <li id="about"><a href="/about">About Me</a></li>
          <li id="compose"><a href="/compose">Compose</a></li>
          <li id="contact"><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
  </nav>

  <body>

    <div class="container">

    <h1>Home</h1>

    <p> <%= startingContent %> </p>

    <%  posts.forEach(post => { %>

      <h1><%=post.title%></h1>
      <p>
      <%=post.content.substring(0, 100) + " ..."%>
      <a href="/posts/<%=post._id%>">Read More</a>
      </p>

      <% }) %>

    </div>

    <div class="footer-padding"></div>

    <div class="footer">
      <p>Kieran</p>
    </div>

  </body>

</html>
